<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Nueva tarea -->
  <ion-item> 
    <ion-input [(ngModel)]="newTaskTitle" placeholder="Nueva tarea"></ion-input>
    <ion-button (click)="addTask()" fill="solid" color="primary">Agregar</ion-button>
  </ion-item>

  <!-- Lista de tareas -->
  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-checkbox slot="start" [checked]="task.completed" (ionChange)="toggleTask(task.id)"></ion-checkbox>

      <ng-container *ngIf="editingTaskId === task.id; else viewMode">
        <ion-input [(ngModel)]="editedTaskTitle"></ion-input>
        <ion-button fill="clear" (click)="saveTaskEdit(task)">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="medium" (click)="cancelTaskEdit()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ng-container>

      <ng-template #viewMode>
        <ion-label [ngClass]="{ 'completed': task.completed }">{{ task.title }}</ion-label>
        <ion-button fill="clear" slot="end" color="primary" (click)="editTask(task)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" slot="end" color="danger" (click)="deleteTask(task.id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ng-template>
    </ion-item>
  </ion-list>


  <!-- Selector de categoría -->
  <ng-container *ngIf="categoriesEnabled">
    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-select [(ngModel)]="selectedCategoryId" (ionChange)="onCategoryChange()">
        <ion-select-option value="">Todas</ion-select-option>
        <ion-select-option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ng-container>

  
  <!-- CRUD de categorías -->
  <ng-container *ngIf="categoriesEnabled">
    <ion-item>
      <ion-input [(ngModel)]="newCategoryName" placeholder="Nueva categoría"></ion-input>
      <ion-button (click)="addCategory()" fill="outline">Crear</ion-button>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let cat of categories">
        <ng-container *ngIf="editingCategoryId === cat.id; else viewCat">
          <ion-input [(ngModel)]="editedCategoryName"></ion-input>
          <ion-button fill="clear" (click)="saveCategoryEdit(cat)">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="medium" (click)="cancelCategoryEdit()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ng-container>

        <ng-template #viewCat>
          <ion-label>{{ cat.name }}</ion-label>
          <ion-button fill="clear" color="primary" (click)="editCategory(cat)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" color="danger" (click)="deleteCategory(cat.id)">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ng-template>
      </ion-item>
    </ion-list>
  </ng-container>

</ion-content>